<h1> Booking complete! </h1>

<form action="/spaces" method="get" >
<input type="text" name="name" value="1">
  <label for="name"><%= space.name %></label><br>
  <input type="text" name="description" value="2">
  <label for="description"><%= space.description %></label><br>
  <input type="text" name="price_per_night" value="3" checked>
  <label for="price_per_night"><%= space.price_per_night %></label><br><br>
  <button type="submit" value="<%=@space%>">Go back</button>
</form>
