<h1> Booking Preview </h1>
<li> <%= @booking.name %> </li>
<li> <%= @booking.description %> </li>
<li> <%= @booking.price_per_night %> </li>
<form action="/booking_confirmation" method="get">
<input type="submit" value="Request Booking" />
</form>

<form action="/spaces" method="get">
  <input type="submit" value="Go Back" />
</form>


