<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MakersBNB</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" />
</head>

<body class="container">

<img class="logo" src="./images/makersbnb-2.png">

<h2 class="nav-1">Logged in as <%= @username %></h2>
<h1> Booking Complete! </h1>

<p class="list1"> Your Booking has been successfully completed. You have been emailed on <%= @username %>. Here are your booking details.</p>

<form class="list1" action="/spaces" method="get">
  <li value="name"> Name:
  <span> 1 Bed Flat </span>
  </li>
  <li> Description:
  <span> Smart Home </span>
  </li>
  <li> Price Per Night (£):
  <span> 95 </span>
  </li>
  <li> Total for 10 Nights (£):
  <span> 950 </span>
  </li> 
</form>

<form action="/spaces" method="get">
<input class="button2" type="submit" value="Go Back" />
</form>

</body>

<nav class="navMenu">
      <a href="/spaces">Spaces</a>
      <a href="/new-space">Add Space</a>
      <a href="/booking_requests">Bookings</a>
      <a href="/contact">Contact</a>
      <a href="/login">Log Out</a>
      <div class="dot"></div>
</nav>

<footer>
  By Blue Whales
</footer>
