<h1> Booking complete! </h1>
<ul>
<% @space.each do |space| %>
  <li> <%= space.name %> </li>
  <li> <%= space.description %> </li>
  <li> <%= space.price_per_night %> </li>
  <button type="submit"> Book now </button>
<% end %>
</ul>

<form action="/spaces" method="get" >
  <button type="submit" value="Go back"> Go back </button>
</form>

<form action="/action_page.php" method="get">
  <input type="checkbox" name="vehicle1" value="Bike">
  <label for="vehicle1"> I have a bike</label><br>
  <input type="checkbox" name="vehicle2" value="Car">
  <label for="vehicle2"> I have a car</label><br>
  <input type="checkbox" name="vehicle3" value="Boat" checked>
  <label for="vehicle3"> I have a boat</label><br><br>
  <input type="submit" value="Submit">
</form>