<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MakersBNB</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
    <link rel="icon" href="./favicon.ico" />
</head>

<body class="container">

<img class="logo" src="./images/makersbnb-2.png">

<h1> Welcome to MakersBNB </h1>

<form class="list1" action="/user-auth" method='post'>
    Email:  <input class="button2" type="text" name="email" />
    Password:  <input class="button2" type="text" name="password" />
    <input class="button2" type="submit" value="submit" />
</form>

<div class="fling-minislide">
  <img src="./images/0.jpg" alt="Slide 0" />
  <img src="./images/1.jpg" alt="Slide 1" />
  <img src="./images/2.jpg" alt="Slide 2" />
  <img src="./images/3.jpg" alt="Slide 3" />
  <img src="./images/4.jpg" alt="Slide 4" />
  <img src="./images/5.jpg" alt="Slide 5" />
  <img src="./images/6.jpg" alt="Slide 6" />
</div>

</body>

<div class="nav3">
<nav class="navMenu">
      <a class="title2" href="/signup">Sign Up</a>
      <div class="dot"></div>
</nav>
</div>

<footer class="nav2">
  By Blue Whales
</footer>