<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MakersBNB</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
</head>

<body class="container">

<h1> Welcome to Makersbnb </h1>
<img src="./images/makersbnb.png">

<form action="/user-auth" method='post'>
    Email:  <input type="text" name="email" />
    Password:  <input type="text" name="password" />
    <input type="submit" value="submit" />
</form>

</body>
<footer>
  By Blue Whales
</footer>
