<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MakersBNB</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
</head>

<body class="container">

<h1> Welcome to MakersBNB </h1>

<img src="./images/makersbnb.png">

<form class="list1" action="/user-auth" method='post'>
    Email:  <input class="button2" type="text" name="email" />
    Password:  <input class="button2" type="password" name="password" id="password" />
    <input class="button2" type="submit" value="submit" />
</form>

<p>
  <%= flash[:notice] %>
</p>

<input type="checkbox" name="Show Password" onclick="myFunction()">Show Password

<p>
  <a href="/signup">Not a member? Click here to sign up!</a>
</p>

<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</body>
<footer>
  By Blue Whales
</footer>